@font-face {
  font-family: 'aissues-icon';
  src:  url('../fonts/aissues-icon.eot?ldxxuj');
  src:  url('../fonts/aissues-icon.eot?ldxxuj#iefix') format('embedded-opentype'),
    url('../fonts/aissues-icon.ttf?ldxxuj') format('truetype'),
    url('../fonts/aissues-icon.woff?ldxxuj') format('woff'),
    url('../fonts/aissues-icon.svg?ldxxuj#aissues-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aissues-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e951";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
